accelerate
datasets
faiss-cpu
fastapi
google-genai
google-generativeai
jsonschema
numpy
pydantic
python-dateutil
python-dotenv
ratelimit
regex
sentence-transformers
torch
transformers
unicodedata2
uvicorn
vncorenlp
pytest
httpx
